@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: sans-serif;
}

.active{
    background-color: aqua;
    color: black;
}
.btjn{
    background-color: white;
    text-align: black;
}